<div
  style="min-height: 100vh; width: 300px"
  class="bg-success text-light p-2 d-flex flex-column text-center"
>
  <h5 class="mb-5 text-light fw-bold  rounded p-4 shadow-lg">
    <img width="50px" src="https://png.pngtree.com/png-clipart/20230425/original/pngtree-hand-draw-chef-cook-icon-png-image_9094586.png" alt="">Cookpedia Admin
  </h5>
  <a
    routerLink="/admin" class="text-decoration-none nav-link text-light text-start fw-bolder mb-4"
    ><i class="fa-solid fa-chart-simple me-2"></i>Dashboard</a
  >
  <a
   
    routerLink="/admin/download-lsit"
    class="text-decoration-none nav-link text-light text-start fw-bolder mb-4"
    ><div class="fa-solid fa-download me-2"></div>
    Download Lsit</a
  >
  <a
   
    routerLink="/admin/user-lsit"
    class="text-decoration-none nav-link text-light text-start fw-bolder mb-4"
    ><div class="fa-solid fa-users me-2"></div>
    Users List</a
  >
  <a
   
    routerLink="/admin/recipe-lsit"
    class="text-decoration-none nav-link text-light text-start fw-bolder mb-4"
    ><div class="fa-solid fa-bowl-food me-2"></div>
    Recipe List</a
  >
  <a
   
    routerLink="/admin/request-lsit"
    class="text-decoration-none nav-link text-light text-start fw-bolder mb-4"
    ><div class="fa-solid fa-message me-2"></div>
    Request Lsit</a
  >
  <a
    routerLink="" class="text-decoration-none nav-link text-light text-start fw-bolder mb-4"
    ><div class="fa-solid fa-"></div
  ></a>
</div>
